# Computer Vision Project

## Extract center coordinates and export them for MATLAB

In [56]:
import pandas as pd
import re
import numpy as np

In [4]:
path_csv = r"C:\Users\User\Google Drive\JKU\WS19\Computer Vision\LAB\project_dir\data\peaches_top_center_coords.csv"
df = pd.read_csv(path_csv)
df.head()

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,DSC06215.JPG,7667712,{},2,0,"{""name"":""point"",""cx"":5131,""cy"":2700}",{}
1,DSC06215.JPG,7667712,{},2,1,"{""name"":""point"",""cx"":5417,""cy"":2577}",{}
2,DSC06216.JPG,7667712,{},3,0,"{""name"":""point"",""cx"":5110,""cy"":2599}",{}
3,DSC06216.JPG,7667712,{},3,1,"{""name"":""point"",""cx"":4776,""cy"":2718}",{}
4,DSC06216.JPG,7667712,{},3,2,"{""name"":""point"",""cx"":5978,""cy"":2332}",{}

In [15]:
test = df["region_shape_attributes"][0]
test

'{"name":"point","cx":5131,"cy":2700}'

### Single step

In [52]:
idx = 1
temp_df = df[df["filename"] == "DSC06215.JPG"]
temp_df

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,DSC06215.JPG,7667712,{},2,0,"{""name"":""point"",""cx"":5131,""cy"":2700}",{}
1,DSC06215.JPG,7667712,{},2,1,"{""name"":""point"",""cx"":5417,""cy"":2577}",{}

In [38]:
r = re.compile(r"[0-9]+")

points = []
for string in temp_df["region_shape_attributes"]:
    result = r.findall(string)
    points.append(result)
points

[['5131', '2700'], ['5417', '2577']]

In [40]:
points_df = pd.DataFrame(points)
points_df

      0     1
0  5131  2700
1  5417  2577

In [53]:
name = f"{idx:{0}{2}}.csv"
name

'01.csv'

In [42]:
points_df.to_csv(name, header=False, index=False)

### Looping over all entries

In [61]:
filenames = np.unique(df["filename"])
r = re.compile(r"[0-9]+")

idx = 1
for filename in filenames:
    temp_df = df[df["filename"] == filename]
    points = []
    for string in temp_df["region_shape_attributes"]:
        result = r.findall(string)
        points.append(result)
    points_df = pd.DataFrame(points)
    name = f"peaches_center_coords/{idx:{0}{2}}.csv"
    points_df.to_csv(name, header=False, index=False)
    idx += 1
    
assert (idx - 1) == len(filenames)